In [1]:
#pip install beautifulsoup4

In [2]:
#pip install beautifulsoup4 requests

In [3]:
#pip install beautifulsoup4 requests

In [7]:
url = "http://books.toscrape.com"

In [11]:
import requests
from bs4 import BeautifulSoup

url = "http://books.toscrape.com"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

print(soup.title.text)

    All products | Books to Scrape - Sandbox

In [12]:
books = soup.find_all('article', class_='product_pod')

In [13]:
for book in books:
    title = book.h3.a['title']
    price = book.find('p', class_='price_color').text

In [14]:
 print(f"Title: {title}\nPrice: {price}\n")

Title: It's Only the Himalayas
Price: Â£45.17

In [21]:
book_date = []
for book in books:
    title = book.h3.a['title']
    price =book.find ('p', class_ ='price_color').text
    book_date.append({'Title':title,'Price':price})

In [23]:
import pandas as pd
df = pd.DataFrame(book_date)

In [24]:
book_data = []
conversion_rate = 104

In [25]:
for book in books:
    title = book.h3.a['title']
    price_gbp = book.find('p', class_='price_color').text

In [26]:
price_gbp_cleaned = price_gbp.replace('£', '').replace('Â', '').strip()

In [29]:
try:
    price_gbp_value = float(price_gbp_cleaned)
    price_inr = price_gbp_value * conversion_rate
    book_data.append({'Title': title, 'Price (GBP)': price_gbp_value, 'Price (INR)': price_inr})
except ValueError:
    print(f"Could not convert price to float for book: {title}")
    price_inr = 0.0
    book_data.append({'Title': title, 'Price (GBP)': 0.0, 'Price (INR)': price_inr})

In [35]:
try:
    price_gbp_value = float(price_gbp_cleaned)
    price_inr = price_gbp_value * conversion_rate
except ValueError:
    print(f"Could not convert price to float for book: {title}")
    price_gbp_value = 0.0 # Assign a default value in case of error
    price_inr = 0.0 # Assign a default value in case of error

print(f"Title: {title}\nPrice (GBP): £{price_gbp_value:.2f}\nPrice (INR): ₹{price_inr:.2f}\n")
book_data.append({
    "Title": title,
    "Price (GBP)": f"£{price_gbp_value:.2f}",
    "Price (INR)": f"₹{price_inr:.2f}"
})

Title: It's Only the Himalayas
Price (GBP): £45.17
Price (INR): ₹4697.68